@charset "utf-8";
@font-face {
  font-family: "mb-icon-font-3";
  src: url("fonts/icons/mb-icon-font-3.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Light.woff2") format('woff2'), url("fonts/roboto/Roboto-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.woff2") format('woff2'), url("fonts/roboto/Roboto-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.woff2") format('woff2'), url("fonts/roboto/Roboto-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Medium.woff2") format('woff2'), url("fonts/roboto/Roboto-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Bold.woff2") format('woff2'), url("fonts/roboto/Roboto-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Bold.woff2") format('woff2'), url("fonts/roboto/Roboto-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 12px;
  cursor: pointer;
  border: 3px solid rgba(255,255,255,0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(53,65,76,0.3);
}
::-webkit-scrollbar-thumb:hoverol {
  background-color: rgba(45,70,104,0.4);
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-text-size-adjust: none;
}
body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
div,
footer,
section {
  position: relative;
}
html,
body {
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 14px;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}
flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
h1,
h2,
.slogan {
  font-family: Roboto Slab;
  color: #243036;
}
h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 56px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.button {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.button:hover {
  color: #fff;
}
.page_header {
  padding: 32px 0 !important;
}
.page_header .logo {
  display: inline-block;
  width: 160px;
  margin-right: auto;
  background: url("img/modulpay_logo.svg") no-repeat;
}
.page_header a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 22px;
}
.page_header a.mobile {
  display: none;
}
section {
  max-width: 1440px;
  margin: auto;
  cursor: default;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.section_content {
  max-width: 1000px;
  margin: auto;
}
.section_content .title {
  font-size: 18px;
  font-weight: 500;
}
.section_content .text {
  margin-top: 12px;
  line-height: 1.5em;
}
.section1 {
  padding-bottom: 100px;
  background: url("img/bg__section1.svg") 50% 0 no-repeat;
  overflow: hidden;
}
.section1::after {
  content: "";
  display: block;
  position: absolute;
  width: 1440px;
  top: 0;
  bottom: 0;
  left: calc(50% - 1440px / 2);
  pointer-events: none;
  background: url("img/bg__section1--triangle.svg") 99% 100% no-repeat;
}
.section1 .page_header + .section_content {
  padding-top: 120px;
  background: url("img/iphonex.png") 92% 0 no-repeat;
  -webkit-background-size: 283px auto;
  -moz-background-size: 283px auto;
  background-size: 283px auto;
}
.section1 h1 {
  margin-bottom: 4px;
}
.section1 h2 {
  margin-top: 240px;
}
.section1 .slogan {
  font-size: 36px;
}
.section1 .buttons {
  margin-top: 56px;
}
.section1 .buttons .button {
  background: #394b56;
  -webkit-box-shadow: 0 4px 8px rgba(36,48,54,0.36);
  box-shadow: 0 4px 8px rgba(36,48,54,0.36);
  padding: 16px 40px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.section1 .buttons .button:hover {
  -webkit-box-shadow: 0 4px 8px rgba(36,48,54,0.12);
  box-shadow: 0 4px 8px rgba(36,48,54,0.12);
}
.section1 .tiles_features > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  background: #fff no-repeat;
  background-position: 50% 34px;
  -webkit-box-shadow: 0 13px 27px rgba(49,55,72,0.09);
  box-shadow: 0 13px 27px rgba(49,55,72,0.09);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 122px 32px 32px;
}
.section1 .tiles_features .tile_no-queue {
  background-image: url("img/icon_no-queue.svg");
}
.section1 .tiles_features .tile_cost-free {
  margin: 0 32px;
  background-image: url("img/icon_cost-free.svg");
}
.section1 .tiles_features .tile_cashier-free {
  background-image: url("img/icon_cashier-free.svg");
  background-position-y: 30px;
}
.section2 .usage {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.section2 .usage > div {
  width: 280px;
  text-align: center;
}
.section2 .usage i {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 28px;
  border: 4px solid rgba(90,172,198,0.24);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: no-repeat center;
}
.section2 .usage .text {
  color: #717d83;
}
.section2 .usage .loyalty i {
  background-image: url("img/icon_loyalty.svg");
}
.section2 .usage .promos {
  margin-left: 30px;
  margin-right: 30px;
}
.section2 .usage .promos i {
  background-image: url("img/icon_promos.svg");
}
.section2 .usage .cashback i {
  background-image: url("img/icon_cashback.svg");
}
.section3 {
  margin-top: 90px;
}
.section3 .steps {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background: -webkit-linear-gradient(315deg, #c0f1ee 0%, #d6e0fd 100%), #d3d808;
  background: -moz-linear-gradient(315deg, #c0f1ee 0%, #d6e0fd 100%), #d3d808;
  background: -o-linear-gradient(315deg, #c0f1ee 0%, #d6e0fd 100%), #d3d808;
  background: -ms-linear-gradient(315deg, #c0f1ee 0%, #d6e0fd 100%), #d3d808;
  background: linear-gradient(135deg, #c0f1ee 0%, #d6e0fd 100%), #d3d808;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.section3 .steps .item {
  width: 33.33%;
  padding: 32px 20px 30px 55px;
}
.section3 .steps .item:not(:last-child)::after {
  content: '';
  width: 52px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px;
  background: url("img/step_arrow.svg") no-repeat center center;
}
.section3 .steps .item::before {
  content: '1';
  position: absolute;
  top: 14px;
  left: 20px;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}
.section3 .steps .item:nth-child(2),
.section3 .steps .item:nth-child(3) {
  padding-left: 66px;
}
.section3 .steps .item:nth-child(2)::before,
.section3 .steps .item:nth-child(3)::before {
  content: '2';
  left: 30px;
}
.section3 .steps .item:nth-child(3)::before {
  content: '3';
}
.section3 .steps .item .item_desc {
  color: #2b2b2b;
  font-size: 16px;
  line-height: 1.4;
}
.section4 {
  margin: 96px 0;
}
.section4 .section_content {
  padding: 40px 0 100px 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("img/bg__section_callback.svg") 50px 0 no-repeat;
}
.section4 .section_content h2 {
  margin-bottom: 30px;
  text-align: left;
}
.section4 .section_content .description {
  padding-right: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #717d83;
}
.section4 .section_content .call_order {
  width: 450px;
  height: 60px;
  margin-top: 36px;
  padding: 20px 0 0 26px;
  background: #fff;
  -webkit-box-shadow: 0 8px 24px #f1f1f1, 0 14px 44px #f5f5f6;
  box-shadow: 0 8px 24px #f1f1f1, 0 14px 44px #f5f5f6;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section4 .section_content .call_order ::-webkit-input-placeholder {
  color: #cbcfd1;
}
.section4 .section_content .call_order ::-moz-placeholder {
  color: #cbcfd1;
}
.section4 .section_content .call_order :-ms-input-placeholder {
  color: #cbcfd1 !important;
}
.section4 .section_content .call_order input {
  font-size: 18px;
  border: none;
}
.section4 .section_content .call_order .button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 21px 32px 20px;
  background: -webkit-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: -moz-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: -o-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: -ms-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: linear-gradient(270deg, #5e81de 0%, #58c0ba 100%), #d3d808;
}
.footer {
  background: #f9fbff;
  padding: 44px 0;
}
.footer .section_content {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.footer .contact_info {
  margin-top: -2px;
}
.footer .contact_info h2 {
  margin-bottom: 6px;
  font-weight: 300;
}
.footer .contact_info p {
  font-size: 18px;
  font-weight: 300;
}
.footer .footer_links {
  margin: 0 auto;
}
.footer .footer_links p {
  white-space: nowrap;
}
.footer .footer_links p:not(:last-child) {
  margin-bottom: 16px;
}
.footer .footer_links a {
  display: inline-block;
  color: #9da6aa;
  line-height: 1.3;
  border-bottom: 1px solid;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.footer .footer_links a:hover {
  color: #8b9396;
}
.footer .mobile_apps_links a {
  display: block;
  width: 145px;
  height: 44px;
}
.footer .mobile_apps_links a:first-child {
  background: url("img/appstore.svg") no-repeat;
  margin-bottom: 12px;
}
.footer .mobile_apps_links a:last-child {
  background: url("img/google_play.svg") no-repeat;
}
.popup_overlay {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: rgba(45,70,104,0.34);
  z-index: 3000;
  -webkit-animation: popupOverlayOpen 0.2s linear both;
  -moz-animation: popupOverlayOpen 0.2s linear both;
  -o-animation: popupOverlayOpen 0.2s linear both;
  -ms-animation: popupOverlayOpen 0.2s linear both;
  animation: popupOverlayOpen 0.2s linear both;
  -webkit-overflow-scrolling: touch;
}
.popup_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.popup_table {
  display: table;
  width: 100%;
  height: 100%;
}
.popup_cell {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 0;
  text-align: center;
}
@media screen and (max-width: 980px) {
  .popup_overlay {
    position: fixed;
    min-width: 320px;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    transform: translateZ(1px);
  }
  .popup_table {
    position: absolute;
  }
  .popup_cell {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .popup_layer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.popup__callback_order {
  width: 560px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 140px;
  background: #fff;
  color: #2b2b2b;
  z-index: 10;
  -webkit-box-shadow: 6px 6px 0 rgba(45,70,104,0.2);
  box-shadow: 6px 6px 0 rgba(45,70,104,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}
.popup__callback_order .popup_close {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2000;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
  text-decoration: none;
}
.popup__callback_order .popup_close:hover {
  color: #2b2b2b;
}
.popup__callback_order .title {
  font-size: 22px;
  margin-bottom: 50px;
  line-height: 1.4;
}
.popup__callback_order input {
  width: 100%;
  color: #555;
  font-size: 16px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0,0,0,0.04);
  border: none;
}
.popup__callback_order .button_wrap {
  margin-top: 20px;
}
.popup__callback_order .button {
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: -webkit-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: -moz-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: -o-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: -ms-linear-gradient(180deg, #5e81de 0%, #58c0ba 100%), #d3d808;
  background: linear-gradient(270deg, #5e81de 0%, #58c0ba 100%), #d3d808;
}
.icon-phone,
.icon-close {
  font-family: "mb-icon-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone::before {
  content: "\e007";
  display: block;
  font-size: 28px;
  margin-bottom: 16px;
}
.icon-close::before {
  content: "\77";
}
@media screen and (max-width: 980px) {
  .page_header a {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 950px) {
  .page_header a:not(.mobile):not(.logo) {
    display: none;
  }
  .page_header a.mobile {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  h2 {
    margin-bottom: 36px;
  }
  .section1 .tiles_features .tile_cost-free {
    margin: 0 20px;
  }
  .section1 .tiles_features > div {
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 44px;
  }
  .section1 .slogan {
    font-size: 32px;
  }
  .section1 .page_header + .section_content {
    background-position-x: 100%;
  }
}
@media screen and (max-width: 760px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  .section_content .title {
    font-size: 20px;
  }
  .section_content .text {
    font-size: 16px;
  }
  .section1 {
    padding-bottom: 70px;
  }
  .section1 h2 {
    margin-top: 260px;
  }
  .section1 .slogan {
    font-size: 28px;
  }
  .section1 .tiles_features {
    display: block;
  }
  .section1 .tiles_features > div {
    width: 440px;
    margin: auto;
    padding-top: 110px;
    -webkit-box-shadow: 0 0 8px 2px rgba(49,55,72,0.09);
    box-shadow: 0 0 8px 2px rgba(49,55,72,0.09);
    text-align: center;
  }
  .section1 .tiles_features .tile_cost-free {
    margin: 32px auto;
  }
  .section1::after {
    display: none;
  }
  .section2 .usage {
    display: block;
  }
  .section2 .usage > div {
    width: auto;
    padding: 0 50px;
    margin: auto;
  }
  .section2 .usage i {
    width: 64px;
    height: 64px;
    margin-bottom: 18px;
    border-width: 2px;
  }
  .section2 .usage .promos {
    margin: 40px auto;
  }
  .section3 {
    margin-top: 60px;
  }
  .section3 .steps .item {
    padding: 28px 24px 26px 55px;
  }
  .section3 .steps .item::before {
    font-size: 30px;
  }
  .section3 .steps .item .item_desc {
    font-size: 15px;
  }
  .section3 .steps .item:nth-child(2),
  .section3 .steps .item:nth-child(3) {
    padding-left: 60px;
  }
  .section3 .steps .item:nth-child(2)::before,
  .section3 .steps .item:nth-child(3)::before {
    left: 22px;
  }
  .section4 {
    margin: 70px 0 90px;
  }
  .section4 .section_content {
    padding: 0;
    background: none;
  }
  .section4 .section_content h2 {
    margin-bottom: 20px;
  }
  .section4 .section_content h2,
  .section4 .section_content .description {
    width: auto;
    text-align: center;
    padding: 0;
  }
  .section4 .section_content .call_order {
    margin: 36px auto 0;
  }
  .footer .contact_info h2 {
    text-align: left;
  }
  .footer .footer_links {
    margin: 0 auto;
  }
}
@media screen and (max-width: 722px) {
  .section3 .steps {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    max-width: 375px;
    margin: auto;
  }
  .section3 .steps .item {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 24px 32px 55px;
    padding-left: 55px !important;
  }
  .section3 .steps .item:not(:last-child)::after {
    background: url("img/step_arrow__vertical.svg") no-repeat center center;
    width: 100%;
    height: 50px;
    top: auto;
    left: 0;
  }
  .section3 .steps .item::before {
    top: 16px;
  }
  .section3 .steps .item:nth-child(3) {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 690px) {
  .section1 .page_header + .section_content {
    padding-top: 80px;
    background-position: 56% 310px;
  }
  .section1 h2 {
    margin-top: 600px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer .section_content {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer .contact_info {
    margin-right: 20px;
  }
  .footer .contact_info h2 {
    font-size: 26px;
  }
  .footer .footer_links {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .footer .footer_links p {
    display: inline-block;
  }
  .footer .mobile_apps_links a {
    display: inline-block;
  }
  .footer .mobile_apps_links a:first-child {
    margin: 0 8px 0 0;
  }
  .section4 {
    margin: 70px 0;
  }
}
@media screen and (max-width: 650px) {
  .section1 {
    background-position-x: 42%;
  }
  .section1 h1 {
    font-size: 34px;
  }
  .section1 .slogan {
    font-size: 24px;
  }
  .section1 .buttons {
    margin-top: 48px;
  }
  .section1 .buttons .button {
    font-size: 14px;
    padding: 15px 30px;
  }
}
@media screen and (max-width: 586px) {
  .section1 {
    background-position-x: 45%;
  }
  .section1 .tiles_features > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section2 .usage > div {
    padding: 0;
  }
  .footer .contact_info {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }
  .footer .contact_info h2 {
    font-size: 31px;
    text-align: center;
  }
  .footer .mobile_apps_links {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .section1 h1 {
    font-size: 32px;
  }
  .section1 .tiles_features > div {
    width: auto;
  }
  .footer .contact_info {
    margin-bottom: 30px;
  }
  .footer .footer_links {
    text-align: center;
  }
  .footer .footer_links p {
    width: 100%;
  }
  .footer .footer_links p:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    margin-top: 16px;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 24px;
  }
  .page_header {
    padding: 24px 0 !important;
  }
  .page_header .logo {
    width: 128px;
    background-position: 0 center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  .page_header a {
    padding: 10px;
  }
  .section1 {
    background-position-y: -24px;
  }
  .section1 h2 {
    margin-top: 630px;
  }
  .section1 .page_header + .section_content {
    background-position: 64% 280px;
    padding-top: 60px;
  }
  .section4 {
    margin-bottom: 50px;
  }
  .section4 .section_content .call_order {
    width: 380px;
    height: 52px;
    padding: 16px 0 0 24px;
  }
  .section4 .section_content .call_order .button {
    font-size: 14px;
    padding: 18px 24px;
  }
  .footer {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 444px) {
  h2 {
    margin-bottom: 30px;
  }
  .page_header a {
    padding: 10px;
    padding-right: 5px;
    font-size: 13px;
  }
  .section1 {
    padding-bottom: 40px;
    background-position-x: 44%;
  }
  .section1 h1 {
    font-size: 30px;
  }
  .section1 .slogan {
    font-size: 22px;
  }
  .section1 .page_header + .section_content {
    background-position-x: 74%;
  }
  .section1 .tiles_features > div {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 76px 10px 30px;
    background-position-y: 0 !important;
  }
  .section1 .tiles_features .tile_cost-free {
    margin: 12px auto;
  }
  .section1 .tiles_features .text {
    color: #717d83;
  }
  .section4 .section_content .description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 375px) {
  h2 {
    font-size: 22px;
  }
  .section_content .title {
    font-size: 18px;
  }
  .section1 {
    padding-bottom: 40px;
  }
  .section1 h2 {
    margin-top: 590px;
  }
  .section1 .page_header + .section_content {
    background-position: 100% 250px;
  }
  .section1 .buttons {
    margin-top: 40px;
  }
  .section1 .buttons .button {
    font-size: 12px;
    padding: 14px 24px;
  }
}
/*# sourceMappingURL=style_modulpay.css.map */