// темно-синий
cl1 			= #2D4668
// голубой
// cl2 		= #00aeef
cl2 			= #0382CE
// зеленый
cl3 			= #81c624
// светло-голубой
cl4 			= #7dd3f7
// салатовый
cl5 			= #d7df21

clsub1 			= #2D71AF
clsub2 			= #2D9AC1
clsub3 			= #26BDCB
clsub4 			= #50D7BA
clsub5 			= #A2E59F
clsub6 			= #D9F3B8


// шрифт
ffn = 'Roboto', sans-serif, Arial

fwxl 			= 100
fwl 			= 200
fwn 			= 400
fwr 			= 400
fwm 			= 500
fwb 			= 700

// кегель
fzn 			= 16px

// текст
ctext 			= #2B2B2B

ctextlight 		= rgba(0,0,0, .5)

ctextholder 	= #aaa
ctextdis 		= #bbb

ctexterror 		= #D0021B
ctextsuccess 	= #66A70F
ctextwarning 	= #DA9D04
ctextdanger		= #F57F1E

clink			= #00417B
clinklight		= #6690B0
// cwarning		= #F6C139
cwarning 		= #E0BC1E

cgrey03 		= rgba(0,0,0, .03)
cgrey05 		= rgba(0,0,0, .05)
cgrey09 		= rgba(0,0,0, .09)
cgrey18 		= rgba(0,0,0, .18)
cgrey36 		= rgba(0,0,0, .36)
cgrey50 		= rgba(0,0,0, .50)
cgrey72 		= rgba(0,0,0, .72)

cwhite86 		= rgba(white, .86)
cwhite64 		= rgba(white, .64)


cbgdark 		= #35414C
cbglight 		= #EDEFF1
// cbglight 	= #EEF2F5
cbgsky 			= #f5f5f6 // было: cbglight + 50%
cbghighlight 	= #eaf5f9
cbglightgreen 	= cl3 + 90%

cbginfo 		= #fff9e0
cbgerror 		= #FFEBEB
cbgsuccess		= #EDFAD7

// цвет границы ошибки
cerror 			= #E54D4D
csucces 		= cl3

brbut 			= 2px
brform 			= 1px

// цвет границы форм
cbd 			= #D1D1D1
cbdlight 		= cbd + 50%
cbdlightsky 	= saturate(cbglight - 10%, 10%)

// цвет разделителя
cseparator 		= saturate(cbglight - 5%, 40%)

cRUR 			= #E8A807
cUSD 			= cl3 - 20%
cEUR 			= cl2
cCNY 			= #E54D4D



//=== НОВЫЕ ЦВЕТА ==========================================================================

// Черный
$cl-black 				= #000000
// Белый
$cl-white				= #FFFFFF

// Оттенки черного
// $cl-black-2 				= #3C3C3C
// $cl-black-3 				= #727272
// $cl-black-4 				= #D8D8D8
// $cl-black-5 				= #EBEBEB
// $cl-black-6 				= #FAFAFA
// $cl-black-7 				= #FFFFFF

// Серый
$cl-grey-1 				= #243036
$cl-grey-2 				= #49555C
$cl-grey-3 				= #717D83
$cl-grey-4 				= #9DA6AA
$cl-grey-5 				= #CBCFD1
$cl-grey-6 				= #E6E8E9
$cl-grey-7 				= #EDF0F2

// Темно-синий
$cl-midnight-1 			= #003A69
$cl-midnight-2 			= #2E6493
$cl-midnight-3 			= #3D78A7
$cl-midnight-4 			= #6895BD
$cl-midnight-5 			= #8CB2D4
$cl-midnight-6 			= #A8C6DF
$cl-midnight-7 			= #E4EEF5

// Синий
$cl-blue-1				= #0069A6
$cl-blue-2				= #0082CD
$cl-blue-3				= #009EE3
$cl-blue-4				= #30B5EE
$cl-blue-5				= #6BC9F2
$cl-blue-6				= #B2E2F7
$cl-blue-7				= #EDFAFF

// Цвет морской волны
$cl-seawave-1			= #0C7F7B
$cl-seawave-2			= #059B91
$cl-seawave-3			= #24C4BC
$cl-seawave-4			= #41CFC8
$cl-seawave-5			= #64DCD2
$cl-seawave-6			= #84E6E2
$cl-seawave-7			= #B4F3F0

// Зеленый
$cl-green-1 				= #5E8C00
$cl-green-2 				= #6CA300
$cl-green-3 				= #88BD1F
$cl-green-4 				= #A4D73E
$cl-green-5 				= #C0EB69
$cl-green-6 				= #D4F296
$cl-green-7 				= #EEFAD4

// Оливковый
$cl-olive-1 				= #AAB300
$cl-olive-2 				= #B7BF00
$cl-olive-3 				= #C5CC00
$cl-olive-4 				= #D2D800
$cl-olive-5 				= #DEE240
$cl-olive-6 				= #EAED80
$cl-olive-7 				= #F6F7C0

// Желтый
$cl-yellow-1 			= #B79310
$cl-yellow-2 			= #D2AA0F
$cl-yellow-3 			= #E8C113
$cl-yellow-4 			= #EFD04E
$cl-yellow-5 			= #F5DE88
$cl-yellow-6 			= #FAE6AA
$cl-yellow-7 			= #FCF2CE

// Оранжевый
$cl-orange-1				= #B84421
$cl-orange-2				= #DA6622
$cl-orange-3				= #EE7C2D
$cl-orange-4				= #F7913D
$cl-orange-5				= #FAAB62
$cl-orange-6				= #FDC886
$cl-orange-7				= #FFE3B4

// Красный
$cl-red-1				= #A32626
$cl-red-2				= #B93535
$cl-red-3				= #CF4545
$cl-red-4				= #E06B6B
$cl-red-5				= #F09292
$cl-red-6				= #F8BDB8
$cl-red-7				= #FFE6E6

// Розовый
$cl-pink-1				= #961B45
$cl-pink-2				= #B02358
$cl-pink-3				= #CB3070
$cl-pink-4				= #E64D8D
$cl-pink-5				= #F385AE
$cl-pink-6				= #F9C3D5
$cl-pink-7				= #FCE1ED

// Фиолетовый
$cl-violet-1				= #4D3673
$cl-violet-2				= #765397
$cl-violet-3				= #8769AE
$cl-violet-4				= #A487BA
$cl-violet-5				= #C3AFD2
$cl-violet-6				= #D3C6E2
$cl-violet-7				= #E5DDED

//========================================================================== НОВЫЕ ЦВЕТА ===
